body {
  height: 99vh;
  background: linear-gradient(135deg, #4a90e2, #1457a7);
}
.card{
    width: 45vw;
}

.table-cell {
  max-width: 120px; /* Puedes ajustar este valor según tus necesidades */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
